body {
    background-color: rgb(153, 208, 226);
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
    border: 3px solid black;
}

h3 {
    font-style: italic;
}

.foods {

}

.fried-rice {
    border: 3px solid black;
}

.noodle {
border: 3px solid black;
}

.salad {
border: 3px solid black;
}